Please enter the details of the office:
<div>Office-name : ${properties.officeName}</div>
<div>Contact Type : ${properties.officeName}</div>
<div>Address Type : ${properties.officeName}</div>
<div>Phone : ${properties.officeName}</div>
<div>Fax : ${properties.officeName}</div>
<div>Email : ${properties.officeName}</div>
<div>Website : ${properties.officeName}</div>
<div>Coverage : ${properties.officeName}</div>
<div>Description : ${properties.officeName}</div>
${properties.image.fileReference}
<div><img src="${properties.image.fileName}" alt="${properties.imageAltText}"/></div>


