Please enter the details of the office:
<div>Office-name : ${properties.officeName}</div>
<div>Contact Type : ${properties.contactType}</div>
<div>Address Type : ${properties.addressType}</div>
<div>Phone : ${properties.phone}</div>
<div>Fax : ${properties.fax}</div>
<div>Email : ${properties.email}</div>
<div>Website : ${properties.website}</div>
<div>Coverage : ${properties.coverage}</div>
<div>Description : ${properties.description}</div>
<div><img src="${properties['image/fileReference']}" alt="${properties.imageAltText}" /></div>


